<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding allowCookies="true" name="SessionStateWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61427/SessionStateWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SessionStateWebServiceSoap"
                contract="WebServiceSessionState.SessionStateWebServiceSoap"
                name="SessionStateWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
